body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;

}
.panel {
	background-color: #2A587A;
}
.table-hover{

	width: 400px;
	color: #0F0E0E;

}



#conteiner
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto; 
}
.rectangle
{	
	margin: 20px;
	width: 980px;
	text-align: center;
}
.square
{
	width: 500px;
	float: left; 
}

#logo 
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	width: 600px;
	text-align: left;

}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	font-size: 30px;
	background-color:  #3095d3;
	float: left;
	text-align: center;
	padding: 25px;
}
.tile1:hover{
	background-color: #2084c2;
}
.tile6
{
	margin: 10px;
	width: 230px;
	height: 142px;
	font-size: 30px;
	background-color:  #3095d3;
	float: left;
	text-align: center;
	padding: 30px;
}
.tile6:hover{
	background-color: #2084c2;
}
.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color:  #666666;
	float: left;
	text-align: center;
	padding: 10px;
	font-size: 30px;
}
.tile2:hover{
	background-color: #555555;
}
.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color:  #93c748;
	float: left;
	text-align: center;
	padding: 20px;
	font-size: 30px;
}
.tile3:hover{
	background-color: #82b637;
}
.tile4
{
	margin: 10px;
	width: 480px;
	height: 82px;
	background-color:  #ee5a32;
	text-align: center;
	font-size: 26px;
	padding: 30px;
	line-height: 150%;

}
.tile4:hover{
	background-color: #dd4921;
}
.tile5
{
	margin: 10px;
	width: 480px;
	height: 244px;
	background-color:  #666666;
	text-align: justify;
	padding: 20px;
	
}
.yt
{

	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #d94348;
	float: left;	   
	text-align: center;
	font-size: 26px;
	padding: 15px;
}
}
.yt:hover{
	background-color: #3557c2;
}
.fb
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #4668b3;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 20px;
}
.fb:hover{
	background-color: #3557c2;
}
.fb1
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #4668b3;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 20px;
}
.fb1:hover{
	background-color: #3557c2;
}
.fb2
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #4668b3;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 20px;
}
.fb2:hover{
	background-color: #3557c2;
}
.gplus
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #d95333;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 20px;
}
.gplus:hover{
	background-color: #c84222;
}
.tw
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #3095d3;
	float: left;
	padding: 20px;
}
.tw:hover{
	background-color: #2084c2;
}
.tw1
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #3095d3;
	float: left;
	padding: 20px;
}
.tw1:hover{
	background-color: #2084c2;
}
.tw2
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #3095d3;
	float: left;
	padding: 20px;
}
.tw2:hover{
	background-color: #2084c2;
}

.tresc1
{	float: left;
	
	font-size: 20px;
	color:  #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	
}
.tresc2
{	
	text-align: center;
	font-size: 20px;
	color:  #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	
}
.tresc3
{	
	height: 220px;
    width: 450px;
    overflow: scroll;
	text-align: center;
	font-size: 20px;
	color:  #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	
}
.tile10
{
	margin: 10px;
	width: 480px;
	height: 465px;
	background-color:  #666666;
	text-align: justify;
	padding: 20px;
	
}
#wiadomosc {
    overflow: scroll;
    height: 150px;
}
#team_lista {
    overflow: scroll;
    height: 370px;
    width: 420px;
}
#table1 {
   
    width: 400px;
}

#wia {
   
    overflow: scroll;
    height: 170px;
    width: 450px;
}





.tile100
{
	margin: 10px;
	width: 230px;
	height: 142px;
	font-size: 30px;
	background-color:  #3095d3;
	float: left;
	text-align: center;
	padding: 25px;
}
.tile100:hover{
	background-color: #2084c2;
}
.tile600
{
	margin: 10px;
	width: 230px;
	height: 142px;
	font-size: 30px;
	background-color:  #3095d3;
	float: left;
	text-align: center;
	padding: 30px;
}
.tile600:hover{
	background-color: #2084c2;
}
.tile200
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color:  #666666;
	float: left;
	text-align: center;
	padding: 10px;
	font-size: 30px;
}
.tile200:hover{
	background-color: #555555;
}
.tile300
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color:  #93c748;
	float: left;
	text-align: center;
	padding: 20px;
	font-size: 30px;
}
.tile300:hover{
	background-color: #82b637;
}
.tile400
{
	margin: 10px;
	width: 480px;
	height: 82px;
	background-color:  #ee5a32;
	text-align: center;
	font-size: 26px;
	padding: 30px;
	line-height: 150%;

}
.tile400:hover{
	background-color: #dd4921;
}
.tile500
{
	margin: 10px;
	width: 480px;
	height: 244px;
	background-color:  #666666;
	text-align: justify;
	padding: 20px;
	
}

.fb00
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #4668b3;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 20px;
}
.fb00:hover{
	background-color: #3557c2;
}
.gplus00
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color:  #a93a1f;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 10px;
}
.gplus00:hover{
	background-color: #98290e;
}
.tw00
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color:  #3095d3;
	float: left;
	padding: 20px;
}
.tw00:hover{
	background-color: #2084c2;
}


.twtrener
{
	margin: 10px;
	width: 230px;
	height: 142px;
	text-align: center;
	background-color:  #3095d3;
	float: left;
	font-size: 26px;
	padding: 20px;
}
.twtrener:hover{
	background-color: #2084c2;
}

.fbtrener
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color:  #4668b3;
	float: left;
	text-align: center;
	font-size: 26px;
	padding: 20px;
}
.fbtrener:hover{
	background-color: #3557c2;
}