

#templatemo_slider_wrapper {
	width: 100%;
	height: 270px;
	background: url(../images/templatemo_slider.jpg) repeat-x;
}

#templatemo_slider {
	width: 910px;
	height: 210px;
	margin: 0 auto;
	padding: 30px;
}



#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	background: url(../images/templatemo_content.jpg) top repeat-x;
	border-bottom: 1px solid #fff;	
}

#templatemo_content {
	width: 930px;
	padding: 40px 30px;
	margin: 0 auto;
}

/* end of main */

/* footer */

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: #1d1a18;
	border-top: 1px solid #0f0d0c;	
	border-bottom: 1px solid #312d2b;
}

/* end of footer */

/* copyright */

#templatemo_copyright_wrapper {
	width: 100%;
	background: #131110;
	border-top: 1px solid #000;
}

#templatemo_copyright {
	width: 960px;
	margin: 0 auto;
	padding: 15px 20px;
	text-align: center;
	color: #443f3c;
}

#templatemo_copyright a {
	color: #6e6965;
}
/* end of copyright */
