<h5>Witaj [login]!!</h5>
<p>Reset hasła </p>
<p>Specjalnie dla ciebie wygenerowaliśmy klucz atywacyjny abyś mógł zrestowac swoje hasło. Wystarczy, że klikniesz w poniższy przycisk</p>
<a href="[url]?reset_password=[key]">
Aktywacja
</a>
<p>Dziekujemy za skorzystanie z naszych usług.</p>
<pre>E-mail jest generowany automatycznie, prosimy na niego nie odpisywać</pre>
