<h5>Witaj [login]!!</h5>
<p>Założyłeś konto w serwisie http://matiiheus.cba.pl/pzpn . Jeżeli nie Ty zakładałes konto, to proszę o zignorowanie tej wiadomości </p>
<p>Specjalnie dla ciebie wygenerowaliśmy klucz atywacyjny abyś mógł aktywować swoje konto. Wystarczy, że klikniesz w poniższy przycisk </p>
 <a href="[url]?activate=[key]">Aktywacja</a>
<p>Dziekujemy za skorzystanie z naszych usług.</p>
<pre>E-mail jest generowany automatycznie, prosimy na niego nie odpisywać</pre>
